/* https://coolors.co/000000-7b7b7b-f5f5f5-fafafa-ffffff */
html {
	height: 100%;
}
body,
#root,
.fullscreen {
	height: inherit;
	min-height: 100%;
}
body {
	overflow-x: hidden;
}

/* BOOTSTRAP WEIRD BORDER REMOVAL */
button {
	outline: none !important;
}

:root {
	--default-transition-duration: 100ms;
	--lightgray: #fafafa;
	--lesslightgray: #f5f5f5;
	--darkergray: #3e3e3e;
	--overlay: rgba(255, 255, 255, 0.7);
	--bs-invalid-color: rgb(220, 53, 69);
	--bs-valid-color: #28a745;
}

/* SPACING */
.core {
	padding-top: 4.2rem;
	padding-bottom: 3rem;
}

/* GLOBAL STUFF */
.bold {
	font-weight: 600;
}
.close {
	position: absolute;
	top: 0;
	right: 0.1rem;
	z-index: 10;
}
/* GLOBAL STUFF: LOADING SPINNER */
.spinner {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.spinner.overlay {
	width: 100%;
	height: 100%;
	display: flex;
	background-color: var(--overlay);
	pointer-events: none;
}
.spinner.overlay > div {
	margin: auto;
}
/* Replicate Bootstrap input form validation */
.valid-icon,
.invalid-icon {
	height: 1rem;
	padding-right: calc(1.5em + 0.75rem);
	background-repeat: no-repeat;
	background-position: right calc(0.375em + 0.1875rem) center;
	background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.valid-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}
.invalid-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
}

/* BANNER */
.banner {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 0.5rem;
	z-index: 10000;
}

/* Specific BS adjustments */
.error,
.invalid.form-text {
	color: var(--bs-invalid-color) !important;
}
.valid.form-text {
	color: var(--bs-valid-color);
}
.settings-dropdown > button,
.account-dropdown > button,
.account-dropdown > button:active,
.account-dropdown > button:focus,
.account-dropdown > button:hover {
	background-color: unset !important;
	border: none !important;
	box-shadow: none !important;
}
.account-dropdown.show > button,
.account-dropdown > button:hover {
	color: lightgray !important;
}
.settings-dropdown > button::after,
.account-dropdown > button::after {
	display: none;
}

/* DOUBLE PANER */
.double-pane > .row {
	margin: 0;
}
.double-pane > .row > div:first-child {
	border-right: 1px solid lightgray;
}
.double-pane > .row > div {
	padding: 0;
}
.double-pane .card-title {
	margin: 0;
	cursor: pointer;
}
.double-pane .tab-title {
	padding: 1.25rem;
	transition: all var(--default-transition-duration);
}
.double-pane .tab-title.active,
.double-pane > .row > div:nth-child(2) {
	background-color: var(--lightgray);
}
.double-pane .tab-title:hover {
	background-color: var(--lesslightgray);
}
.double-pane .tab-title {
	border-bottom: 1px solid lightgray;
}

/* CUSTOM DROP AREA - IMAGE UPLOAD */
.droppable-area {
	background-color: white;
	border-radius: 0.25rem;
	border: 1px dashed lightgray;
	cursor: pointer;
	position: relative;
	height: 200px;
	display: flex;
}
.droppable-area.valid {
	border-color: var(--bs-valid-color);
	border-style: solid;
}
.droppable-area.dragging {
	background-color: var(--lesslightgray);
}
.droppable-area .invalid-icon,
.droppable-area .valid-icon {
	position: absolute;
	top: 0.4rem;
	right: -0.3rem;
	z-index: 12;
}
.droppable-area .zone-info {
	padding: 0.6rem;
	width: min-content;
	margin: auto;
	pointer-events: none;
}
.droppable-area .zone-info > * {
	width: max-content;
	margin: auto;
}
.droppable-area svg.icon {
	width: 3rem;
	height: auto;
	display: flex;
	color: var(--darkergray);
	transition: all var(--default-transition-duration);
}
.droppable-area .label {
	padding-top: 0.2rem;
	padding-bottom: 0.3rem;
}
.droppable-area .file-upload {
	display: none;
}
.droppable-area img {
	margin: auto;
	max-height: 100%;
	max-width: 100%;
}
.droppable-area svg {
	margin-left: auto;
	margin-right: auto;
}
.droppable-area .file-info {
	color: gray;
	font-size: 0.8rem;
}
.droppable-area.disabled {
	cursor: unset;
	pointer-events: none;
	border-radius: 0.25rem;
	border-style: solid;
}
.droppable-area.disabled:after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 11;
	background-color: rgba(224, 228, 232, 0.7);
}

/* OVERVIEW PANE */

.overview-pane .spinner {
	position: relative;
	width: min-content;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

/* HELP REQUEST */
.help-request {
	font-size: 0.95rem;
}
.help-request .card-header {
	display: flex;
}
.help-request .info {
	width: 85%;
}
.help-request .date {
	color: gray;
	font-size: 0.92rem;
}
.help-request .badges {
	width: 15%;
	/* align-self: center; */
	display: flex;
	justify-content: right;
}
svg.chattable {
	cursor: pointer;
}

/* MAP */
.map {
	height: 100vh !important;
	width: 100% !important;
}
/* MAP SETTINGS */
.settings-dropdown {
	position: absolute;
	z-index: 1;
	bottom: 1rem;
	right: 1rem;
}
.settings-dropdown button > svg {
	color: var(--darkergray);
	height: 2.5rem;
	width: auto;
}

/* LEFT MENU */
.slider {
	padding: 1rem 1.5rem 1rem 0rem;
	position: absolute;
	z-index: 1;
}
.left-menu {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 0.25rem;
	display: flex;
	flex-direction: column;
	padding: 0.35rem;
	transform: translate3d(0, 0, 0);
	/* Apparently the above triggers browser 3D accelerated graphics, that can improve perf on non-opaque items */
}
.left-menu > * {
	position: relative;
}
.left-menu .badge {
	position: absolute;
	right: -0.1rem;
	top: -0.15rem;
}
.left-menu svg {
	width: auto;
	height: 1.8rem;
}
.left-menu > *:nth-child(2) {
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}

/* LOGIN */
.links {
	margin-top: 1rem;
}
.links > *:first-child {
	float: left;
}
.login .links > *:last-child {
	float: right;
}

/* HEADER */
.account-links {
	display: flex;
}
.account-group > div:first-child {
	margin: auto;
}
