html {
	height: 100%;
	scroll-behavior: smooth;
}
body,
#root,
.fullscreen {
	height: auto;
	min-height: 100vh;
	font-family: 'Open Sans', sans-serif;
}
body {
	overflow-x: hidden;
}
.container {
	max-width: 1280px;
}

/* BLUE: https://coolors.co/0b0754-3662c1-94b3f4-bfd2fa-dde8fc */
/* RED: https://coolors.co/b04e4f-e75756-ed6965-fc9390-feeceb */
/* GRAY: https://coolors.co/000000-808080-c0c0c0-e0e0e0-f0f0f0-fcfcfc-fefefe-ffffff */
:root {
	--default-transition-duration: 100ms;
	--default-border-radius: 15px;

	--color-low-transparency: rgba(255, 255, 255, 0.7);
	--color-b1: #dde8fc;
	--color-b2: #bfd2fa;
	--color-b3: #94b3f4;
	--color-b4: #658bdb;
	--color-b5: #3662c1;
	--color-b6: #0b0754;
	--color-b7: #08053f;
	--color-r0: #feeceb;
	--color-r1: #fc9390;
	--color-r2: #ed6965;
	--color-r3: #e75756;
	--color-r4: #b04e4f;
	--color-g1: #fefefe;
	--color-g2: #fcfcfc;
	--color-g3: #f0f0f0;
	--color-g4: #e0e0e0;
	--color-g5: #c0c0c0;
	--color-g6: #808080;
	--color-g7: #404040;
	--color-g8: #202020;
}

/* Override BS SUCCESS BANNER */
.alert-success {
	background-color: #afdeba;
	border-color: #a2d9ae;
}

/* SPACING */
.core {
	padding-top: 4.5rem;
	padding-bottom: 5rem;
}

/* GLOBAL STUFF */
.bold {
	font-weight: 600;
}
.close {
	position: absolute;
	top: 0;
	right: 0.1rem;
	z-index: 10;
}
/* GLOBAL STUFF: LOADING SPINNER */
.spinner {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.spinner.overlay {
	width: 100%;
	height: 100%;
	display: flex;
	background-color: var(--color-low-transparency);
	pointer-events: none;
}
.spinner.overlay > div {
	margin: auto;
}
/* Replicate Bootstrap input form validation */
.valid-icon,
.invalid-icon {
	height: 1rem;
	padding-right: calc(1.5em + 0.75rem);
	background-repeat: no-repeat;
	background-position: right calc(0.375em + 0.1875rem) center;
	background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.valid-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}
.invalid-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
}

/* BANNER */
.banner {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 1rem;
	z-index: 10000;
}

/* Specific BS adjustments */
.error,
.invalid.form-text {
	color: var(--red) !important;
}
.valid.form-text {
	color: var(--green);
}

/* DOUBLE PANER */
.double-pane,
.double-pane.card,
.double-pane .card {
	border-radius: var(--default-border-radius);
}
.double-pane .tab-title:first-child {
	border-top-left-radius: var(--default-border-radius);
}
.double-pane .filler {
	border-bottom-left-radius: var(--default-border-radius);
}
.double-pane .tab-col > :last-child {
	border-top: 1px solid var(--color-g3);
}
.double-pane .content-col {
	border-top-right-radius: var(--default-border-radius);
	border-bottom-right-radius: var(--default-border-radius);
}
.profile .double-pane .content-col {
	min-height: 15rem;
}
.double-pane > .row {
	margin: 0;
}
.double-pane > .row > div {
	padding: 0;
}
.double-pane .card-title {
	margin: 0;
	cursor: pointer;
}
.double-pane .tab-title {
	padding: 1.25rem;
	transition: all var(--default-transition-duration);
}
.double-pane .tab-title.active,
.double-pane > .row > div:nth-child(2) {
	background-color: var(--color-g1);
}
.double-pane .tab-title:hover:not(.active) {
	background-color: var(--color-g2);
}
.double-pane .tab-title:nth-child(even) {
	border: 1px solid var(--color-g3);
	border-left: none;
}
.double-pane .tab-col > div:last-child:not(.profile .double-pane .tab-col > div:last-child) {
	border-top: none;
}
.double-pane .tab-title.active {
	border-right: 1px solid var(--color-g1);
}
.double-pane .tab-title {
	border-right: 1px solid var(--color-g3);
}
.double-pane .tab-col {
	display: flex;
	flex-direction: column;
}
.double-pane .filler {
	flex-basis: 100%;
	border-right: 1px solid var(--color-g3);
}

/* CUSTOM DROP AREA - IMAGE UPLOAD */
.droppable-area {
	background-color: white;
	border-radius: 0.25rem;
	border: 1px dashed var(--color-g5);
	cursor: pointer;
	position: relative;
	height: 200px;
	display: flex;
}
.droppable-area.valid {
	border-color: var(--green);
	border-style: solid;
}
.droppable-area.dragging {
	background-color: var(--color-g2);
}
.droppable-area .invalid-icon,
.droppable-area .valid-icon {
	position: absolute;
	top: 0.4rem;
	right: -0.3rem;
	z-index: 12;
}
.droppable-area .zone-info {
	padding: 0.6rem;
	width: min-content;
	margin: auto;
	pointer-events: none;
}
.droppable-area .zone-info > * {
	width: max-content;
	margin: auto;
}
.droppable-area svg.icon {
	width: 3rem;
	height: auto;
	display: flex;
	transition: all var(--default-transition-duration);
}
.droppable-area .label {
	padding-top: 0.2rem;
	padding-bottom: 0.3rem;
}
.droppable-area .file-upload {
	display: none;
}
.droppable-area img {
	margin: auto;
	max-height: 100%;
	max-width: 100%;
}
.droppable-area svg {
	margin-left: auto;
	margin-right: auto;
}
.droppable-area .file-info {
	color: gray;
	font-size: 0.8rem;
}
.droppable-area.disabled {
	cursor: unset;
	pointer-events: none;
	border-radius: 0.25rem;
	border-style: solid;
}
.droppable-area.disabled:after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 11;
	background-color: rgba(224, 228, 232, 0.7); /* DO NOT TOUCH */
}

/* OVERVIEW PANE */

.overview-pane .spinner {
	position: relative;
	width: min-content;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

/* HELP REQUEST */
.help-request {
	font-size: 0.95rem;
}
.help-request .card-header {
	display: flex;
}
.help-request .info {
	width: 85%;
}
.help-request .date {
	color: gray;
	font-size: 0.92rem;
}
.help-request .badges {
	width: 15%;
	/* align-self: center; */
	display: flex;
	justify-content: right;
}
svg.chattable {
	cursor: pointer;
}

/* MAP */
.map {
	height: 100vh !important;
	width: 100% !important;
}
/* MAP SETTINGS */
.settings-dropdown {
	position: absolute;
	z-index: 1;
	bottom: 1rem;
	right: 1rem;
}
.settings-dropdown button > svg {
	color: var(--color-g7);
	height: 2.5rem;
	width: auto;
}

/* LEFT MENU */
.slider {
	padding: 1rem 1.5rem 1rem 0rem;
	position: absolute;
	z-index: 1;
}
.left-menu {
	background-color: rgba(191, 210, 250, 0.5);
	border-top-right-radius: var(--default-border-radius);
	border-bottom-right-radius: var(--default-border-radius);
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
	transform: translate3d(0, 0, 0);
	/* Apparently the above triggers browser 3D accelerated graphics, that can improve perf on non-opaque items */
}
.left-menu > * {
	position: relative;
}
.left-menu .badge {
	position: absolute;
	right: -0.3rem;
	top: -0.15rem;
	transition: all var(--default-transition-duration);
}
.badge.unread {
	background-color: var(--color-r3);
}
.left-menu svg {
	width: auto;
	height: 2rem;
	color: var(--color-b5);
	transition: all var(--default-transition-duration);
}
.left-menu a:hover svg {
	color: var(--color-b6);
}
.left-menu > *:nth-child(2) {
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}

/* LOGIN */
.connect .links {
	margin-top: 1rem;
}
.connect .links > *:first-child {
	float: left;
}
.connect .links > *:last-child {
	float: right;
}

/* HOME */
.home {
	background-image: url('../media/home.jpg');
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
	height: 85vh;
}
.headline {
	position: relative;
	top: 3rem;
	color: var(--color-b6);
	font-size: 3.8rem;
	max-width: 400px;
}
.headline .brand {
	font-weight: 600;
	margin-top: -0.5rem;
	margin-bottom: 1.2rem;
}
.headline > div:last-child {
	text-align: left;
}

/* ABOUT */
.about {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.about .row {
	margin-top: 2rem;
	min-height: 400px;
}
.about .row:last-child {
	margin-top: -1rem;
	margin-bottom: 1rem;
}
.about .image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	width: 400px;
}
.about .image.mutual {
	background-image: url('../media/mutual.jpg');
}
.about .image.elder {
	background-image: url('../media/elder.jpg');
	float: right;
}
.about .image.foster {
	background-image: url('../media/foster.jpg');
}
.about .text > * {
	margin: 9rem 0rem 0rem 0rem;
}
.about .text.foster > div > *:first-child {
	padding-bottom: 1rem;
}
.about .text.foster a {
	display: flex;
}

/* BUTTON */
button.fancy-red,
button.fancy-blue,
button.plain-red,
button.plain-blue,
button.fancy-red:focus,
button.fancy-blue:focus,
button.plain-red:focus,
button.plain-blue:focus {
	outline: none !important;
	border-width: 2px !important;
	border-style: solid !important;
	border-radius: 50px !important;
	padding: 0.5rem 1.5rem 0.5rem 1.5rem !important;
	box-shadow: none !important;
}
button.large {
	font-size: 1.3rem !important;
}
button.fancy-red:hover:not(.button-check),
button.fancy-blue:hover:not(.button-check),
button.plain-red:hover:not(.button-check),
button.plain-blue:hover:not(.button-check) {
	border-style: solid !important;
	border-width: 2px !important;
}

button.plain-red:not(.button-check),
button.plain-red:focus:not(.button-check) {
	background-color: var(--color-r1) !important;
	border-color: var(--color-r1) !important;
}
button.plain-red:hover:not(.button-check) {
	background-color: var(--color-r2) !important;
	border-color: var(--color-r3) !important;
}
button.fancy-red:not(.button-check),
button.fancy-red:focus:not(.button-check) {
	color: var(--color-r2) !important;
	background-color: white !important;
	border-color: var(--color-r2) !important;
}
button.fancy-red:hover:not(.button-check) {
	background-color: var(--color-r0) !important;
	border-color: var(--color-r3) !important;
	color: var(--color-r3) !important;
}

button.plain-blue:not(.button-check),
button.plain-blue:focus:not(.button-check) {
	background-color: var(--color-b2) !important;
	border-color: var(--color-b2) !important;
}
button.plain-blue:hover:not(.button-check) {
	background-color: var(--color-b3) !important;
	border-color: var(--color-b4) !important;
}
button.fancy-blue:not(.button-check),
button.fancy-blue:focus:not(.button-check) {
	color: var(--color-b3) !important;
	background-color: white !important;
	border-color: var(--color-b3) !important;
}
button.fancy-blue:hover:not(.button-check) {
	background-color: var(--color-b1) !important;
	border-color: var(--color-b4) !important;
	color: var(--color-b4) !important;
}

/* HEADER */
.header {
	padding-top: 1rem;
	padding-bottom: 1rem;
	box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.08);
	z-index: 1;
	height: 76px; /* TODO: CAREFUL CAN CLASH WITH MOBILE!!! */
}
.header button {
	font-size: 1rem !important;
	/* font-weight: 600; */
}
.nav-links a {
	color: var(--color-b5);
	font-size: 1.2rem;
	margin-left: 1rem;
	margin-right: 1rem;
	font-weight: 600;
	position: relative;
	text-decoration: none;
	transition: all var(--default-transition-duration);
}
.nav-links a:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	top: 100%;
	left: 0;
	background: var(--color-b5);
	transition: all var(--default-transition-duration);
	transform: scaleX(0);
	border-radius: 50px;
}
.nav-links a:hover {
	color: var(--color-b6);
}
.nav-links a.active::after {
	transform: scaleX(0.4);
}
.nav-links a:hover::after {
	transform: scaleX(0.7);
	background: var(--color-b6);
}
.footer .links {
	margin-top: 0;
}

.account-group {
	border: 2px solid var(--color-b3);
	border-radius: 50px;
	padding: 1px 1.5rem 1px 1.5rem;
}
.account-group,
.account-links {
	display: flex;
	transition: all var(--default-transition-duration);
}
.account-links > div:last-child {
	margin-left: 1.5rem;
}
.account-group > div:first-child {
	margin: auto;
}
.account-group .dropdown-toggle {
	padding-left: 0.8rem !important;
	padding-right: 0 !important;
	padding-top: 0 !important;
}
.account-dropdown svg {
	top: 0.22rem;
	position: relative;
}
.account-group .dropdown-toggle svg {
	width: 2rem;
	height: auto;
}
.settings-dropdown > button,
.account-dropdown > button,
.account-dropdown > button:active,
.account-dropdown > button:focus,
.account-dropdown > button:hover {
	background-color: unset !important;
	border: none !important;
	box-shadow: none !important;
}
.account-dropdown .dropdown-toggle > svg {
	transition: all var(--default-transition-duration);
	color: var(--color-b3);
}
.account-dropdown.show > button > svg,
.account-dropdown > button:hover > svg {
	color: var(--color-b4);
}
.settings-dropdown > button::after,
.account-dropdown > button::after {
	display: none;
}
.header .dropdown-menu.show {
	/* border: 1px solid var(--color-b2); */
	border-top-color: var(--color-b3);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	top: 106%;
}
.account-dropdown .dropdown-item svg {
	top: -1px;
	color: var(--color-b6);
}
.account-dropdown .dropdown-item {
	padding-left: 2rem;
	color: var(--color-b6) !important;
}

/* FOOTER */
.footer {
	background-color: var(--color-b7);
	color: white;
}

.footer .row {
	padding-top: 2.5rem;
}
.footer .links {
	text-transform: uppercase;
}
.footer .brand {
	text-transform: none;
}
.footer .brand > *:last-child {
	padding-top: 1rem;
}
.footer ul {
	list-style: none;
	padding-left: 0;
}
.footer hr {
	border-top-color: rgba(255, 255, 255, 0.15);
	margin-top: 1.5rem;
	padding-top: 0.6rem;
}
.copyright {
	font-size: 0.9rem;
	margin: auto;
	width: max-content;
	padding-bottom: 1.5rem;
}
.socials li {
	display: flex;
	margin-top: 0.2rem;
}
.socials a {
	padding-left: 0.3rem;
}
.socials .instagram {
	background: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	background-size: 1.05rem 1rem;
	border-radius: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.socials .facebook {
	color: #3b5998;
	background: radial-gradient(circle, white 0%, white 100%);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 0.8rem 1.1rem;
}
.socials .twitter {
	color: #55acee;
}

/* COUNTER */
.counter {
	border-radius: 10px;
	border-color: var(--color-b2);
	border: 2px solid var(--color-b3);
	color: var(--color-b6);
	position: absolute;
	z-index: 1;
	background-color: var(--color-low-transparency);
	margin-top: 2rem;
	right: 2rem;
	user-select: none;
	pointer-events: none;
	position: fixed;
}
.counter .card-body {
	padding: 0.8rem;
}
.counter .card-title {
	margin-bottom: 0.5rem !important;
}

/* FAQ */
.faq {
	color: var(--color-b6);
	text-align: justify;
	background-image: url('../media/faq.jpg');
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 450px;
}
.dashboard h1,
.profile h1,
.troubleshoot h1,
.signup h1,
.login h1,
.messenger h1,
.faq h1 {
	font-size: 2.8rem;
	padding-bottom: 0.3rem;
	text-align: center;
}
.faq .form-control {
	max-width: 600px;
	margin: auto;
	background-color: var(--color-low-transparency);
}
.faq .item {
	padding-top: 0.3rem;
	margin-bottom: 1.3rem;
}
.faq .response {
	font-size: 1.1rem;
}

/* MESSENGER - CHAT - CONVERSATION */
.dashboard,
.profile,
.troubleshoot,
.login,
.signup,
.messenger {
	color: var(--color-b6);
}
.messenger .conversation .double-pane {
	height: 60vh;
}
.messenger .conversation .double-pane .row,
.messenger .double-pane .content-col,
.messenger .double-pane .content-col .card-body,
.messenger .double-pane .content-col .messages-area {
	height: inherit;
}
.messenger .double-pane .content-col .messages-area {
	padding: 1.25rem;
}
.messenger .double-pane .content-col .card-body {
	padding: 0;
}
.messenger .messages-area {
	overflow-y: auto;
	overflow-x: hidden;
}
.messenger .double-pane {
	border-bottom: none;
	border-radius: 0;
	border-top-left-radius: var(--default-border-radius);
}
.messenger .double-pane .content-col {
	border-bottom: 2px solid var(--color-g3);
}
.messenger .input-area {
	border-top: none;
	border-radius: 0;
	border-bottom-right-radius: var(--default-border-radius);
	border-bottom-left-radius: var(--default-border-radius);
}
.messenger .tab-col,
.messenger .tab-col .tab-title:first-child {
	border-top-left-radius: var(--default-border-radius);
}
.messenger .content-col {
	border-top-right-radius: var(--default-border-radius);
}
.messenger .input-area .row {
	padding-top: 0.2rem;
}
.messenger .input-area .form-group {
	width: 91%;
	margin-bottom: 0 !important;
}

.messenger .input-area .form-control {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.messenger button.send {
	padding: 0 2rem 0 2rem !important;
	height: 2.4rem;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	border-top-right-radius: 0.25rem !important;
	border-bottom-right-radius: 0.25rem !important;
}
.messenger button.send {
	padding-left: 1.3rem !important;
	padding-right: 1.3rem !important;
}
.messenger button.send svg {
	color: var(--color-b5);
}
.messenger .request {
	font-size: 1rem;
	text-align: justify;
	font-weight: 200;
	padding-bottom: 0.1rem;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.messenger .user {
	padding-top: 0.5rem;
	font-size: 1.1rem;
}
.messenger .user svg {
	width: auto;
	height: 1rem;
	position: relative;
	top: -2px;
	transition: all var(--default-transition-duration);
	margin: auto;
	margin-right: 0.1rem;
}

.messenger .tab-title .unread {
	position: relative;
	top: -2px;
	margin-left: 0.1rem;
}
.messenger .user svg:hover {
	transform: scale(1.3);
}
.messenger .message {
	width: max-content;
	max-width: 70%;
	border-radius: var(--default-border-radius);
	padding: 0.3rem 0.5rem 0.3rem 0.5rem;
	font-size: 0.9rem;
	margin-bottom: 0.2rem;
}
.messenger .message:last-child {
	margin-bottom: 1.25rem;
}
.messenger .message.target {
	background-color: var(--color-g3);
	margin-left: 0;
	margin-right: auto;
}
.messenger .message.owner {
	background-color: var(--color-b1);
	margin-right: 0;
	margin-left: auto;
}
.messenger .message .time {
	color: var(--color-g7);
	font-size: 0.8rem;
}
.messenger .message.owner .time {
	width: max-content;
	margin-left: auto;
	margin-right: 0;
}

/* MESSENGER SCROLLBAR */
.messenger .messages-area {
	scrollbar-color: var(--color-b4) var(--color-b1);
	scrollbar-width: thin;
}
.messenger .messages-area::-webkit-scrollbar {
	width: 8px;
}
.messenger .messages-area::-webkit-scrollbar-track {
	background: var(--color-b1);
}
.messenger .messages-area::-webkit-scrollbar-thumb {
	background-color: var(--color-b4);
	border-radius: var(--default-border-radius);
}

/* LOGIN */
.login {
	background-image: url('../media/login.jpg');
	background-repeat: no-repeat;
	background-position: right bottom 1.9rem;
	background-size: 470px;
}
.troubleshoot.core,
.signup.core > .container,
.login.core > .container {
	max-width: 530px;
}
.login .card .form-control,
.login .card {
	background-color: var(--color-low-transparency);
}
.login button.button-check,
.login button.button-spin {
	padding-left: 2.148rem !important;
	padding-right: 2.148rem !important;
}
.troubleshoot hr,
.create hr,
.connect hr {
	margin-top: 1.5rem;
}
/* SIGNUP */
.troubleshoot .card,
.modal-content,
.login .card,
.signup .card {
	border-radius: var(--default-border-radius);
}
.create-conditions {
	text-align: justify;
}
.create .button-spin,
.create .button-check {
	padding-left: 2.1rem !important;
	padding-right: 2.1rem !important;
}

/* Override BS PLACEHOLDER COLOR */
::-webkit-input-placeholder {
	color: var(--color-g5) !important;
}
::-moz-placeholder {
	color: var(--color-g5) !important;
}
:-ms-input-placeholder {
	color: var(--color-g5) !important;
}
:-moz-placeholder {
	color: var(--color-g5) !important;
}

/* Override BS CUSTOM CHECKBOX */
.checked.custom-control.custom-checkbox .custom-control-label::before {
	background-color: var(--color-b3) !important;
	border-color: var(--color-b4) !important;
}

/* Override a - href - hyperlinks */
a {
	color: var(--color-b5) !important;
}
.footer a {
	color: var(--color-b3) !important;
}

/* MODAL - POPUP */
.modal-content > div {
	padding: 1.25rem;
}
.modal-content .close {
	margin-right: -0.5rem;
	margin-top: -0.5rem;
}
.modal-header {
	padding-bottom: 1rem !important;
}
.modal-header .modal-title {
	margin: auto;
}
.modal-content {
	color: var(--color-b6);
}

/* PROFILE - EDIT ACCOUNT */
.dashboard .create-request .form-row,
.profile .edit-account .form-row {
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}
.profile .edit-account .form-row .form-group {
	min-width: 30%;
}
.profile .edit-account .form-row .form-group:nth-child(2) {
	margin-left: 0.75rem;
}

/* DASHBOARD - CREATE REQUEST */
.dashboard .create-request .form-row .form-group {
	width: 94.8%;
}
.dashboard .create-request .form-row .form-group .form-control {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.create-request button.location {
	margin-top: auto;
	margin-bottom: 1.24rem;
	height: 2.4rem;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	border-top-right-radius: 0.25rem !important;
	border-bottom-right-radius: 0.25rem !important;
	padding: 0.2rem 0.6rem 0.2rem 0.6rem !important;
}
.create-request button.location.button-spin {
	padding-left: 0.72rem !important;
	padding-right: 0.72rem !important;
}
.create-request button.location svg {
	width: auto;
	height: 1.8rem;
}
.create-request select.form-control {
	max-width: 300px;
}
